<div class="componet-page">
    <div class="row col-sm-12">
        <div class="page-title mb_10">
            <h3 class="mb-0">Biller's Desk</h3>
            <p>Create new bill, manage existing bills</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="row mb-1">
                <div class="col-sm-12">
                    <h5 class="card-title">Create New Bill</h5>
                </div>
            </div>
            <div class="card frm-default frm-crete-bill h-100">
                <form class="form-font" [formGroup]="createBillForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="d-flex flex-column billing-type-input">
                                <label for="user-id">User Id*</label>
                                <p-dropdown [options]="userList" formControlName="userId" optionLabel="displayName"
                                    [filter]="true" filterBy="displayName" [showClear]="true"
                                    placeholder="Select a user" (onChange)="selectCust()">
                                </p-dropdown>
                                <span class="text-required"
                                    *ngIf="!createBillForm.controls['userId'].valid && createBillForm.controls['userId']?.touched">
                                    *Required</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="d-flex flex-column billing-type-input">
                                <label for="user-id">Consumer Id*</label>
                                <p-dropdown [options]="conIds" formControlName="consumerId" optionLabel="displayName"
                                    [filter]="true" filterBy="displayName" [showClear]="true"
                                    placeholder="Select a consumer id">
                                </p-dropdown>
                                <span class="text-required"
                                    *ngIf="!createBillForm.controls['consumerId'].valid && createBillForm.controls['consumerId']?.touched">
                                    *Required</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <div class="d-flex flex-column billing-amt-input">
                                <label for="amount">Amount($)</label>
                                <!-- <input type="number" class="form-control" formControlName="amount" required> -->
                                <p-inputNumber inputId="locale-indian" mode="decimal" locale="en-IN"
                                    [minFractionDigits]="2" formControlName="amount" required>
                                </p-inputNumber>
                                <span class="text-required"
                                    *ngIf="!createBillForm.controls['amount'].valid && createBillForm.controls['amount']?.touched">
                                    *Required</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-7">
                            <div class="d-flex flex-column">
                                <label for="amount">Due Date</label>
                                <p-calendar (onSelect)="dueDateSelected()" [minDate]="dueDateMinDateValue"
                                    formControlName="dueDate" dateFormat="yy-mm-dd" required showIcon="true">
                                </p-calendar>
                                <span class="text-required"
                                    *ngIf="!createBillForm.controls['dueDate'].valid && createBillForm.controls['dueDate']?.touched">
                                    *Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info btn-sm mr-1"
                                [disabled]="!createBillForm.valid">Submit</button>
                            <button type="submit" class="btn btn-info btn-sm"
                                (click)="resetCreateBillForm()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row mb-1">
                <div class="col-sm-8">
                    <h5 class="card-title">All Bills <span class="bill-for" *ngIf="showSingleUserBill.enabled">-
                            {{bills?.list[0]?.user?.fname}}&nbsp;{{bills?.list[0]?.user?.lname}}
                            <!-- (User Id:
                            {{showSingleUserBill.userId}}) -->
                        </span></h5>
                </div>
                <div class="col-sm-4 text-right">
                    <button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-outlined"
                        (click)="displaySearchPanel = !displaySearchPanel"></button>
                </div>
            </div>
            <div class="search-accordian">
                <p-accordion>
                    <p-accordionTab [(selected)]="displaySearchPanel">
                        <div class="search-form">
                            <form class="form-font" [formGroup]="searchForm" (ngSubmit)="onSearch()">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div>
                                            <label for="user-id">User Id:&nbsp; </label>
                                            <p-inputNumber formControlName="userId" required>
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 text-right">
                                        <!-- <button type="submit" class="btn btn-info btn-sm mr-1"
                                            [disabled]="!searchForm.valid">Search</button> -->
                                        <button type="submit" class="btn btn-info btn-sm mr-1">Search</button>
                                        <button type="submit" class="btn btn-info btn-sm mr-1"
                                            (click)="resetresetSearchForm()">Reset</button>
                                        <button type="submit" class="btn btn-info btn-sm"
                                            (click)="resetresetSearchForm();displaySearchPanel = !displaySearchPanel">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="custom-table">
                <p-table [value]="bills.list" autoLayout="true" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true" dataKey="id" [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>User Id</th>
                            <th>Con.Id</th>
                            <th>Name</th>
                            <!-- <th>L. Name</th> -->
                            <!-- <th>Email</th> -->
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Due On</th>
                            <th>Paid On</th>
                            <th>Status</th>
                            <!-- <th>Req. Payment</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-bill>
                        <tr>
                            <td>{{bill.id}}</td>
                            <td>{{bill.user?.userId}}</td>
                            <td>{{bill.consumerId}}</td>
                            <td>{{bill.user?.fname}} {{bill.user?.lname}}</td>
                            <!-- <td>{{bill.user?.lname}}</td> -->
                            <!-- <td> {{bill.user?.email}} </td> -->
                            <td> {{bill.amount | currency }} </td>
                            <td>
                                <i class="fa fa-fire color-gas" aria-hidden="true"
                                    *ngIf="bill.name.toLowerCase() == 'gas'"></i>
                                <i class="fa fa-bolt color-electricity" aria-hidden="true"
                                    *ngIf="bill.name.toLowerCase() == 'electricity'"></i>
                                <i class="fa fa-tint color-water " aria-hidden="true"
                                    *ngIf="bill.name.toLowerCase() == 'water'"></i>
                                {{bill.name | uppercase}}
                            </td>
                            <td> {{bill.dueDate.join('-') | date:'mediumDate'}} </td>
                            <td> {{bill.paidOn?.join('-') | date:'mediumDate'}} </td>
                            <td>
                                <p-tag value="{{bill.status}}"
                                    severity="{{(bill.status == 'PENDING'?'warning':(bill.status == 'PAID'?'success':'danger'))}}"
                                    [style]="{'margin':'2%'}" styleClass="custom-status-tag"></p-tag>
                            </td>
                            <!-- <td> {{bill.requestPayment}} </td> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="9" class="text-center font-weight-bold">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-toast key="success"></p-toast>
<p-toast key="failed"></p-toast>