<!-- <ngx-spinner size="small" color="#fff" type="ball-clip-rotate">
  <p style="font-size: 20px; color: white">Loading Please Wait...</p>
</ngx-spinner> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="layout-topbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <span class="app-logo">
        Voice
        <img src="assets/sample-app-logo.png" height="40" class="p-mr-2">
        Master
      </span>
    </ng-template>
    <ng-template pTemplate="end">
      <label for="user-name" class="logged-in-user">Billing Admin</label>
      <button pButton icon="pi pi-power-off"
        class="p-button-rounded p-button-info p-ripple p-button p-component p-button-icon-only"></button>
      <!-- <button pButton icon="pi pi-power-off"
        class="p-button-rounded p-button-info p-ripple p-button p-component p-button-icon-only"
        (click)="testTstr()"></button> -->
    </ng-template>
  </p-menubar>
</div>

<!-- display toaster messages -->
<div>
  <p-toast key="successToastr" position="top-right" life="5000"></p-toast>
  <p-toast key="errorToastr" sticky="true" position="top-right"></p-toast>
</div>

<!-- Routing -->
<router-outlet></router-outlet>