<div class="container text-center" style="margin:1rem;">
    <div class="row">
        <div class="col-sm-2">
            <a routerLink="/customers" class="tile-name">
                <div class="home-page-tile">
                    <div class="home-page-tile-content">
                        <div>
                            <i class="pi pi-user" style="font-size: 2rem"></i>
                        </div>
                        <div>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a routerLink="/billing" class="tile-name">
                <div class="home-page-tile">
                    <div class="home-page-tile-content">
                        <div>
                            <i class="pi pi-dollar" style="font-size: 2rem"></i>
                        </div>
                        <div>
                            <span>Billing</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
